/* disabled for optimization */

:root {
    --size: 800px;
    --size2: 800px;
}

.perspective {
    z-index: -10;
    perspective: 400px;
    perspective-origin: center;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;

}

.img-cylinder {
    position: absolute;

    animation: animate 60s linear infinite;

    transform-origin: center;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    translate: 0 -100%;


}

.image {
    width: 50px;
    position: absolute;
    left: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    border-radius: 10px;
    translate: -50%;
    /* transform:
        rotateY(calc(var(--i) * 18deg)) translateZ(calc(var(--size) * -3.3)) translateY(-20%); */
    transform:
        rotateY(calc(var(--i) * 36deg)) translateZ(-1264px) translateY(-20%);
    /* added negetive translate Z to make backface into frontface and make it hidden*/
    transition: all .2s ease;
    /* width: var(--size);
    height: var(--size); */
    width: 800px;
    height: 800px;
    background-image: var(--url);
    background-size: cover;
    background-attachment: fixed;

    backface-visibility: hidden;
}

@keyframes animate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}